
|<div class="background: blue;"> [<img  src='https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg' alt='github' height='20'>](https://github.com/HuKKu-ec)   | <div>  asdsds </div> 
<p align="center"> 
<img src="https://64.media.tumblr.com/456caa4d4b8c33cbaccf6a5dc1c5daa4/d658420366e41e92-6e/s400x600/58c5d4de59ea68ac914ddd07739b21bc15e4271e.gif">
<p align="center"> $${\color{mediumslateblue}
  DNI }$$
<p align="center"> <code style="color: #FFD700">problematic stuff, wilbur s##ts supporter </code>

<div class="mx-auto" style="background:linear-gradient(#131da4, #503be7); max-width: 600px; padding:5px; border-radius:10px;">
	<div style="border:2px dotted #b5bdff; padding: 3px; border-radius:8px;">
		<div style="background:linear-gradient(#fc7968, #fc9487);border:2px solid #b5bdff; border-radius:5px; padding:8px;">
			<div class="row no-gutters">
				<!-- Name and photo -->
				<div class="col-12 col-sm-4 text-right mb-3 mb-sm-0">
					<span style="color:#fff; font-size:14pt;background:#131da4; border-radius:40% 40% 0% 0%; padding:5px; margin-right:15px"><b><i>Name</i></b> <i class="fa fa-heart" style="color:#f4086a;"></i></span>
					<div class="card" style="background:url(IMG URL); background-size:cover; background-position:center; height:0; padding-top:100%; border-radius:20px; border:8px solid #131da4; margin-bottom:8px;">
					</div>
					<!-- Bone -->
					<i class="fa fa-bone fa-4x" style="position:absolute; top:40px; right:-20px; transform:rotate(45deg); color:#fff6db; z-index:999"></i>
					<!-- Short info -->
					<div class="container" style="background:#a5e8ff; padding: 3px; border-radius:10px;">
						<div style="border:4px dotted #4cc5ef; padding: 3px; border-radius:8px;">
							<div class="text-left" style="background:#fff6db; color:#131da4; padding:5px; border-radius:5px;">
								<span style="background:#ffbae3; border-radius:30%; padding:0px 3px;">Species:</span> Info <br>
								<span style="background:#ffbae3; border-radius:30%; padding:0px 3px;">Breed:</span> Info <br>
								<span style="background:#ffbae3; border-radius:30%; padding:0px 3px;">Age:</span> info <br>
								<span style="background:#ffbae3; border-radius:30%; padding:0px 3px;">Pronouns:</span> Info <br>
								<span style="background:#ffbae3; border-radius:30%; padding:0px 3px;">Orientation:</span> Info
							</div>
						</div>
						<!-- Ball -->
						<i class="fa fa-tennis-ball fa-5x" style="position:absolute; top:40px; left:-65px; transform:rotate(12deg); color:#f7f378;"></i>
					</div>
					<div>
						<!-- Ball -->
						<i class="fa fa-flower fa-4x" style="position:absolute; bottom:-10px; left:110px; transform:rotate(12deg); color:#bd64f5;"></i>
						<!-- Credit - DO NOT REMOVE -->
					    <a href="https://toyhou.se/30950014.42-pet-shop"><i class="fa fa-code" style="color:#ffbbb2;"></i></a>
					</div>
				</div>
				<div class="col-12 col-sm-8" style="padding-left: 8px;">
					<!-- audio player -->
					<div class="text-center" style="font-size:8pt;background:#9644ca; height:42px; border:8px solid #8eec3c; border-radius:40%; color:#fff; transform:rotate(5deg); margin-right:-30px; margin-left:30px;position:absolute; top:-20px; right:-10px; z-index:9999; padding-left:10px;">
						<b> Song -</b> Artist <audio controls="" style="opacity:0.30;width:120px;height:28px;margin-bottom:0px;border-radius:0px 60% 60% 0px;float:right;">
							<source src="MP3 URL">
						</audio>
					</div>
					<div class="container" style="background:#f81976; padding: 3px; border-radius:10px;">
						<!-- Info box -->
						<div style="border:4px dotted #b7004c; padding: 3px; border-radius:8px;">
						<!-- flower -->
						<i class="fa fa-flower fa-3x" style="position:absolute; top:10px; right:20px; transform:rotate(-22deg); color:#f7f378;"></i>
						
							<div class="text-left" style="background:#e6ffdb; color:#131da4; padding:5px; border-radius:5px; height:200px; overflow-y:auto; overflow-x:hidden; scrollbar-width: thin;">
								<span style="color:#9644ca; font-size:14pt;"><b>ABOUT ME</b></span><span style="color:#4cc5ef; font-size:14pt;"><i>!!</i></span>
								<p>Write a bio here!! This box scrolls just for you because i love you ^_^ sorry about all the colors lmao everything in this code is a different hex code because i hate you ^_^</p>
								<img src="https://i.postimg.cc/Vv1TwLZ2/8d99597d.png">
								<div class="col-6 mb-3" style="float:left;">
									<i class="fa fa-heart" style="color:#f4086a;"></i> Like <br>
									<i class="fa fa-heart" style="color:#f4086a;"></i> Like <br>
									<i class="fa fa-heart" style="color:#f4086a;"></i> Like <br>
									<i class="fa fa-heart" style="color:#f4086a;"></i> Like <br>
								</div>
								<div class="col-6 mb-3" style="float:right;">
									<i class="fa fa-cloud-rain" style="color:#4cc5ef;"></i> Dislike <br>
									<i class="fa fa-cloud-rain" style="color:#4cc5ef;"></i> Dislike <br>
									<i class="fa fa-cloud-rain" style="color:#4cc5ef;"></i> Dislike <br>
									<i class="fa fa-cloud-rain" style="color:#4cc5ef;"></i> Dislike <br>
								</div>
								<center><span style="background:#ffc7af; text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff; font-size:12pt; border-radius:30%; padding:3px; font-weight:bold;">Attributes</span></center>
								<!-- attributes - change the left % of each icon to move it -->
								<!-- 1 -->
								<span style="background:#ffbae3; border-radius:10px; padding:0px 4px;">Kindness</span>
								<div class="container mt-1 mb-2 mx-auto" style="height:0px; border:3px solid #503be7;width:95%">
									<div style=" border-bottom:2px dotted #b5bdff;"></div>
									<i class="fa fa-heart fa-2x fa-spin" style="color:#f4086a;line-height:0px; position:absolute; top:-2px;left:0%;"></i>
								</div>
								<!-- 2 -->
								<span style="background:#fff565; border-radius:10px; padding:0px 4px;">Energy</span>
								<div class="container mt-1 mb-2 mx-auto" style="height:0px; border:3px solid #503be7;width:95%">
									<div style=" border-bottom:2px dotted #b5bdff;"></div>
									<i class="fa fa-bolt fa-2x fa-spin" style="color:#e7e109;line-height:0px; position:absolute; top:-2px;left:0%;"></i>
								</div>
								<!-- 3 -->
								<span style="background:#baf7ff; border-radius:10px; padding:0px 4px;">Honesty</span>
								<div class="container mt-1 mb-2 mx-auto" style="height:0px; border:3px solid #503be7;width:95%">
									<div style=" border-bottom:2px dotted #b5bdff;"></div>
									<i class="fa fa-star fa-2x fa-spin" style="color:#0893f4;line-height:0px; position:absolute; top:-2px;left:0%;"></i>
								</div>
								<!-- 4 -->
								<span style="background:#baffef; border-radius:10px; padding:0px 4px;">Curiosity</span>
								<div class="container mt-1 mb-2 mx-auto" style="height:0px; border:3px solid #503be7;width:95%">
									<div style=" border-bottom:2px dotted #b5bdff;"></div>
									<i class="fa fa-sparkle fa-2x fa-spin" style="color:#35fdc0;line-height:0px; position:absolute; top:-2px;left:0%;"></i>
								</div>
								<!-- 5 -->
								<span style="background:#e1baff; border-radius:10px; padding:0px 4px;">Friendliness</span>
								<div class="container mt-1 mb-2 mx-auto" style="height:0px; border:3px solid #503be7;width:95%">
									<div style=" border-bottom:2px dotted #b5bdff;"></div>
									<i class="fa fa-flower fa-2x fa-spin" style="color:#bb08f4;line-height:0px; position:absolute; top:-2px;left:0%;"></i>
								</div>
								<!-- friends -->
								<div class="row no-gutters">
									<!-- friend 1 -->
									<div class="col-3 p-1 pt-3">
										<div class="card mx-auto text-center" style=" background-image:url(IMG);width:90%; height:0; padding-top:90%; background-size:cover; background-position:center; border: 3px solid #503be7; border-radius:10px;">
											<i class="fa fa-fish fa-2x" style="margin-top:-130%; margin-left:-40px; color:#ff9348; transform:rotate(8deg);"></i>
										</div>
										<div class="text-center " style="background:#503be7; border-radius:10px; margin-top:-5px;"> <a href="Friend url" style="color:#ffb6b6;">Friend</a></div>
									</div>
									<!-- friend 2 -->
									<div class="col-3 p-1 pt-3">
										<div class="card mx-auto text-center" style=" background-image:url(IMG);width:90%; height:0; padding-top:90%; background-size:cover; background-position:center; border: 3px solid #503be7; border-radius:10px;">
											<i class="fa fa-carrot fa-2x" style="margin-top:-30%; margin-left:-40px; color:#97f7d3; transform:rotate(8deg);"></i>
										</div>
										<div class="text-center " style="background:#503be7; border-radius:10px; margin-top:-5px;"> <a href="Friend url" style="color:#ffb6b6;">Friend</a></div>
									</div>
									<!-- friend 3 -->
									<div class="col-3 p-1 pt-3">
										<div class="card mx-auto text-center" style=" background-image:url(IMG);width:90%; height:0; padding-top:90%; background-size:cover; background-position:center; border: 3px solid #503be7; border-radius:10px;">
											<i class="fa fa-feather fa-2x" style="margin-top:-110%; margin-right:-40px; color:#a1e8fc; transform:rotate(81deg);"></i>
										</div>
										<div class="text-center " style="background:#503be7; border-radius:10px; margin-top:-5px;"> <a href="Friend url" style="color:#ffb6b6;">Friend</a></div>
									</div>
									<!-- friend 4 -->
									<div class="col-3 p-1 pt-3">
										<div class="card mx-auto text-center" style=" background-image:url(IMG);width:90%; height:0; padding-top:90%; background-size:cover; background-position:center; border: 3px solid #503be7; border-radius:10px;">
											<i class="fa fa-apple-whole fa-2x" style="margin-top:-30%; margin-right:-40px; color:#f4b4b4; transform:rotate(-2deg);"></i>
										</div>
										<div class="text-center " style="background:#503be7; border-radius:10px; margin-top:-5px;"> <a href="Friend url" style="color:#ffb6b6;">Friend</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- moodboard -->
					<div class="row no-gutters">
					    <div class="col">
					        <div class="card" style="background:url(IMG URL); background-size:cover; background-position:center; height:0; padding-top:100%; border-radius:20px; border:8px solid #503be7; margin-top:8px; margin-right:4px;">
					</div>
					    </div>
					    <div class="col">
					        <div class="card" style="background:url(IMG URL); background-size:cover; background-position:center; height:0; padding-top:100%; border-radius:20px; border:8px solid #503be7; margin-top:8px; margin-left:4px;">
					</div>
					    </div>
					</div>
					
					<!-- paw-->
					<i class="fa fa-paw fa-5x" style="position:absolute; bottom:40px; right:-40px; transform:rotate(320deg); color:#89f2da; z-index:999"></i>
				</div>
			</div>
		</div>
	</div>
</div>
